/* -----INICIO------ de la Header / cabecera */
.cabecera { 
    align-items: center;
    background: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.estiloHead {
    background-color: #ffffff;
}


@media screen and (min-width:768px) {
    .cabecera{
        padding: 0 5rem;
        
    }
   
}  
    
    
 

  
   

/* -----FIN------ de la Header / cabecera */

ul {
    margin-top: 1rem;
    margin-bottom: 0;
}

.logo {
    width: 150px;
    height:100px;
}

.menu {
    padding: 10px 10px 10px 10px;
}

/*
.logo:hover{
    width:160px;
    height:110px;
}
*/

.menu__lista{
    display: flex;
    
}

.menu__item{
    list-style: none;
}

.menu__link  {
    color: #646464;
    margin-right: 1.25rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.menu__link:hover {
    text-decoration: none;
    color: #ffb03b;
    transition: .5s;
}
.nav-item{
    display: flex;
    justify-content: center;
    color: #646464;
    margin-right: 1.25rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;

}

@media screen and (min-width:768px) {
    
    
    

  
   
}


.banner{
    position: relative;
}

.banner__titulo{
    color: #eb1102;
    font-family:'DM Serif Display', serif;
    font-size: 5.25rem ;
    position: absolute;
    left: 50%;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* 
font-family: 'DM Serif Display', serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
*/

.banner__imagen{
    background: url("../img/banner-alimentos-redux.PNG") no-repeat center / cover;
    width: 100%;
}

@media screen and (min-width:0){
    .banner__imagen{
        height: calc(100vh - 51px);
    }
}


@media screen and (min-width:768px){
    .banner__imagen{
        height: 100vh;
    }
    .banner__titulo{
        font-size: 7.25rem ;
    }
}

.intro{
    text-align: center;
    margin: 2rem 6rem 2rem 6rem;
}

.intro__titulo{
    color: #DA2B1F;
    font-family: 'DM Serif Display', serif;
    font-size: 42px;
    font-weight: 400;
    margin-top: 0.5rem;
}

.intro__descripcion{
    color: #353535;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: large;
}

/*--------------------------------------------------------------
# Footer en desuso
--------------------------------------------------------------*/
/*
.rodapie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.rodapie__titulo{
    display: flex;
    color: #8d0000c7;
    font-weight: 400;
    font-size: 2rem;
    align-items: center;
    padding: 1.5625rem;
    
}

.rodapie__descripcion{
    display:flex;
    font-size: 2rem;
    margin-left: 5rem;
    color: #8d0000c7;
}

span{
    font-size: 23px;
}
.fb{
    background: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 50px;
    color: white;
}
.tw{
    background: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 50px;
    color: white;
}
.in{
    background: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 50px;
    color: white;
}
.li{
    background: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 50px;
    color: white;
}
.yt{
    background: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 50px;
    color: white;
}
*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #DA2B1F;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}

#footer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
    font-family: 'Lato', sans-serif;
}

#footer p {
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
}

#footer .social-links {
    margin: 0 0 40px 0;
}

#footer .social-links a {
    font-size: 32px;
    display: inline-block;
    background: #46423b;
    color: #fff;
    line-height: 1;
    padding: 16px 0px;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 64px;
    height: 64px;
    transition: 0.7s;
}

#footer .social-links a:hover {
    background: #ffb03b;
}

#footer .copyright {
    margin: 0 0 5px 0;
}

#footer .credits {
    font-size: 13px;
}

/* CSS del Carousel */
/* 
font-family: 'DM Serif Display', serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
*/

.card-body {
    background-color: #DA2B1F;
}
.card-title {
    font-family: 'DM Serif Display', serif;
}

.card-text {
    color: #fff;
    font-family: 'Lato', sans-serif;
}

#custom-btn {
    align-content: flex-end;
}
