.intro{
    text-align: center;
}

.intro__titulo{
    color: #DA2B1F;
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
    
}

.intro__descripcion{
    color: #353535;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}