.banner__titulo{
    color: #eb1102;
    font-family:'Saira', sans-serif;
    font-size: 7.25rem ;
    position: absolute;
    left: 50%;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* 
font-family: 'Philosopher', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Saira', sans-serif;
*/